.home-container {
  max-width: 1400px; 
  margin: 0 auto;
  padding: 10px; 
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(8px);
  font-size: 22px; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.header {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #ffffff;
  padding: 0px; 
  backdrop-filter: blur(8px);
  font-size: 20px; 
  text-align:center;
  border-radius: 15px;
  margin-bottom: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
 
}


.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 20px;
  backdrop-filter: blur(8px);
  font-size: 22px; 
  display: flex;
  justify-content: center;
  gap: 20px; 
  border-radius: 15px; 
  margin-bottom: 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.navbar a {
  border: 2px solid #ffffff; 
  padding: 15px 25px; 
  font-size: 20px; 
  border-radius: 8px; 
  background-color: rgba(255, 255, 255, 0.1); 
  text-decoration: none; 
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s; 
}

.navbar a:hover {
  background-color: #ffffff; 
  color: #000000; 
  border-color: #000000; 
}


.loan-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px; 
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px; 
  overflow: hidden; 
}

.loan-table th,
.loan-table td {
  border: 1px solid #dddddd; 
  padding: 2px; 
  text-align: center; 
}

.loan-table th {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: #ffffff;
  font-size: 16px; 
}

.loan-applications .loan-table button {
  background-color: rgba(75, 75, 133, 0.8);
  color: #ffffff;
  padding: 5px 6px; 
  font-size: 20px; 
  border: none;
  cursor: pointer;
  margin-right: 10px; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.3s; 
}

.loan-applications .loan-table button:hover {
  background-color: #0a0a52; 
  transform: scale(1.05); 
}


.home-container h2,
.loan-applications h2 {
  color: #ffffff;
  font-size: 25px; 
  text-align: center; 
  margin-bottom: 20px; 
}

.loan-table tr:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.navbar ul li {
  margin: 0; 
}

.footer {
margin-top: 30px; 
background-color: rgba(255, 255, 255, 0.1) !important; /* Lighter, semi-transparent background */
color: #ffffff; /* Ensure text remains visible */
padding: 15px; 
text-align: center;
font-size: 18px; 
border-radius: 10px; /* Rounded corners */
box-shadow: none; /* Remove shadow */
width: fit-content;
/* backdrop-filter: blur(3px);  */
margin: 30px auto 0;
border: 2px solid transparent; /* Ensure no borders interfere */
transition: background-color 0.3s, color 0.3s
}