.credit-form {
  width: 100%;
  max-width: 850px; /* Slightly increase max-width */
  margin: 10px auto; /* Add a bit more top margin */
  padding: 25px; /* Slightly increase padding */
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 150px); /* Ensure form height fits without scrolling */
}

.credit-form h2 {
  margin-bottom: 18px; /* Add a bit more space below the title */
  font-size: 24px; /* Maintain current title font size */
  color: #333;
  text-align: center;
}

.credit-form label {
  display: block;
  margin-bottom: 12px; /* Increase space between label and input */
  font-size: 16px;
  color: #333;
}

.credit-form input,
.credit-form select {
  width: 100%;
  padding: 9px; /* Add a bit more padding inside the input fields */
  margin-bottom: 10px; /* Increase space between input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.credit-form button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 16px; /* Slightly increase padding for buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.credit-form button:hover {
  background-color: #0056b3;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 7px; /* Maintain current spacing above buttons */
}

.show-more-button {
  background-color: #28a745;
  color: #fff;
  padding: 6px 5px; /* Slightly increase padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.show-more-button:hover {
  background-color: #218838;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .credit-form {
    width: 100%;
    margin-left: 0;
    min-height: calc(100vh - 150px);
  }
}
