.statistics-page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


.header {
  margin-top: 250px; 
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60%; 
  /* background-image: url('../../Components/Assets/bg2.webp'); */
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  z-index: 1; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2; 
}

.content {
  position: relative;
  z-index: 20; 
  max-width: 800px;
  margin: 0 auto;
  padding: 70px;
  color: #ffffff;
  text-align: center;
}

.statistics-container {
  max-width: 600px; 
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(70px); 
}

.chart-container {
  max-width: 600px; 
  margin: 20px auto 0; 
  filter: brightness(1.2) contrast(1.2); 
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.footer {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: none;
  width: fit-content;
  margin: 30px auto 0;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

.statistics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.statistics-table th,
.statistics-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dddddd;
}

.statistics-table th {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-align: center;
}

.statistics-table td {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.chart-title {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
