.statistics-page {
  position: relative;
  height: 100vh;
  width: calc(100% - 140px); /* Adjust width to account for the navbar */
  margin-left: 140px; /* Push content away from the navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.content {
  max-width: 800px; /* Adjust the max-width for the content */
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-right: 130px;
}

.chart-container {
  width: 100%; /* Fit the chart within the content */
  height: 400px; /* Set a fixed height for the chart */
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .content {
    max-width: 90%;
  }

  .chart-container {
    height: 300px; /* Adjust for smaller screens */
  }
}
